@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557 */

* {
    margin: 0;
    box-sizing: border-box;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://res.cloudinary.com/dugn4h9ao/image/upload/v1726037764/Welcome-to-Udi.jpg');
    background-size: cover;
    height: 100vh;

}

.banner h1 {
    color: #ffffff;
    font-family: 'inter';
    font-size: 1.3rem;
    background-color: #457B9D;
    padding: 10px 15px 10px 15px;
    border-radius: 6px;
    opacity: 70%;
    margin-bottom: 10px;

}

.banner h3 {
    color: #ffffff;
    font-family: 'inter';
    font-size: 0.9rem;
    background-color: #1D3557;
    padding: 10px;
    border-radius: 8px;
    opacity: 85%;
}

.top-activity {
    margin-bottom: 20px;
    background-color: #F1FAEE;
}

.top-activity h2 {
    text-align: center;
    padding-top: 40px;
    font-family: 'Inter', sans-serif;
    color: #1D3557;
}


.act-container {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #1D3557;
    font-family: 'Inter', sans-serif;
    margin-bottom: 40px;
    box-sizing:border-box;
}

.act-container p {
    font-size: 0.8rem;
}

.act-container h4{
    margin-bottom: 20px;
}

.act-container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.local-insider-card {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

}

.card-container {
    width: 350px;
    margin: 20px 0 20px 0;
    display: flex;
    text-align: center;
    padding: 20px;
    background-color: #A8DADC;
    border-bottom: #457B9D solid 7px;
    border-radius: 7px;
    justify-content: space-around;
}

.card-container img {
    width: auto;
    border-radius: 10px;
}

.card-txt {
    padding: 20px 20px 0 20px;
    font-family: 'inter';
    font-size: 0.8rem;
    color: #1D3557;
}

a {
    text-decoration: none;
    color: #1D3557;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: 400;
    font-family: 'inter';
    font-style: italic;
    font-size: 0.8rem;
    color: #1D3557;

}

footer a {
    text-decoration: underline;
    color: #E63946;
}

@media only screen and (max-width:915px){

    .banner h1{
        font-size: 2.2em;
    }

    .banner h3{
        font-size: 1.4em;
    }

    .banner, .act-container{
        flex-wrap: wrap;
        padding: 20px;
        text-align: center;
    }

    .top-activity h2{
        font-size: 2em;
        padding:50px 35px 20px 35px;
}

    .local-insider-card {
        display: flex;
        justify-content: center;    
    }
  
    .act-container h4{
        font-size: 1.4em;
        margin-bottom: 20px;
    }
    .act-container p{
        font-size: 1.2em;
        margin-bottom: 40px;
    }

    footer{
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1em;
        text-align: center;
        margin:0 auto;
    }
}